In [103]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [104]:
df = pd.read_excel('merged_data.xlsx', index_col=0)

In [105]:
columns_tolist = df.columns.tolist()
columns_tolist

['Status Pesanan',
 'Alasan Pembatalan',
 'Status Pembatalan/ Pengembalian',
 'No. Resi',
 'Opsi Pengiriman',
 'Antar ke counter/ pick-up',
 'Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan)',
 'Waktu Pengiriman Diatur',
 'Waktu Pesanan Dibuat',
 'Waktu Pembayaran Dilakukan',
 'Metode Pembayaran',
 'SKU Induk',
 'Nama Produk',
 'Nomor Referensi SKU',
 'Nama Variasi',
 'Harga Awal',
 'Harga Setelah Diskon',
 'Jumlah',
 'Returned quantity',
 'Total Harga Produk',
 'Total Diskon',
 'Diskon Dari Penjual',
 'Diskon Dari Shopee',
 'Berat Produk',
 'Jumlah Produk di Pesan',
 'Total Berat',
 'Voucher Ditanggung Penjual',
 'Cashback Koin',
 'Voucher Ditanggung Shopee',
 'Paket Diskon',
 'Paket Diskon (Diskon dari Shopee)',
 'Paket Diskon (Diskon dari Penjual)',
 'Potongan Koin Shopee',
 'Diskon Kartu Kredit',
 'Ongkos Kirim Dibayar oleh Pembeli',
 'Estimasi Potongan Biaya Pengiriman',
 'Ongkos Kirim Pengembalian Barang',
 'Total Pembayaran',
 'Perkiraan Ongkos Kirim',
 'Catatan dari Pembeli',
 'Catatan',
 'Username (Pembeli)',
 'Nama Penerima',
 'No. Telepon',
 'Alamat Pengiriman',
 'Kota/Kabupaten',
 'Provinsi',
 'Waktu Pesanan Selesai']

In [106]:
# Drop kolom yang tidak diperlukan langsung pada df tanpa variabel baru
df.drop(columns=[
    # 'Status Pesanan',
    'Alasan Pembatalan',
    'Status Pembatalan/ Pengembalian',
    'No. Resi',
    'Opsi Pengiriman',
    'Antar ke counter/ pick-up',
    'Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan)',
    'Waktu Pengiriman Diatur',
    'Waktu Pembayaran Dilakukan',
    'Metode Pembayaran',
    'SKU Induk',
    'Nomor Referensi SKU',
    'Nama Variasi',
    'Returned quantity',
    'Berat Produk',
    'Total Berat',
    'Cashback Koin',
    'Paket Diskon',
    'Paket Diskon (Diskon dari Shopee)',
    'Paket Diskon (Diskon dari Penjual)',
    'Potongan Koin Shopee',
    'Diskon Kartu Kredit',
    'Ongkos Kirim Dibayar oleh Pembeli',
    'Estimasi Potongan Biaya Pengiriman',
    'Ongkos Kirim Pengembalian Barang',
    'Total Pembayaran',
    'Perkiraan Ongkos Kirim',
    'Catatan dari Pembeli',
    'Catatan',
    'Nama Penerima',
    'No. Telepon',
    'Alamat Pengiriman',
    'Waktu Pesanan Selesai'
], inplace=True)

In [107]:
df = df[df['Status Pesanan'] != 'Batal']

In [108]:
df = df.drop(columns=['Status Pesanan'])

In [109]:
df['Waktu Pesanan Dibuat'] = pd.to_datetime(df['Waktu Pesanan Dibuat']).dt.date

In [110]:
def extract_variant(product_name):
    match = re.search(r'\b(Ares|Apollo|Athena)\b', product_name, re.IGNORECASE)
    return match.group(0) if match else None

# Terapkan fungsi ke kolom 'Nama Produk'
df['Nama Produk'] = df['Nama Produk'].apply(extract_variant)

In [ ]:
# Dictionary referensi koordinat provinsi di Indonesia
provinsi_koordinat = {
    'ACEH': (4.36855, 97.0253),
    'SUMATERA UTARA': (2.1153547, 99.5450974),
    'SUMATERA BARAT': (-0.7399397, 100.8000051),
    'RIAU': (0.2933466, 101.7068294),
    'JAMBI': (-1.6101232, 103.6131203),
    'SUMATERA SELATAN': (-3.0977119, 104.9142684),
    'BENGKULU': (-3.57785, 102.2655),
    'LAMPUNG': (-4.5585849, 105.4068),
    'KEPULAUAN BANGKA BELITUNG': (-2.7410513, 106.4405872),
    'KEPULAUAN RIAU': (3.9456514, 108.1428669),
    'DKI JAKARTA': (-6.2088, 106.8456),
    'JAWA BARAT': (-6.9248, 107.6071),
    'JAWA TENGAH': (-7.150975, 110.3499255),
    'DI YOGYAKARTA': (-7.797068, 110.3705293),
    'JAWA TIMUR': (-7.24917, 112.75083),
    'BANTEN': (-6.1202, 106.1505),
    'BALI': (-8.3405, 115.092),
    'NUSA TENGGARA BARAT': (-8.65293340, 117.36164760),
    'NUSA TENGGARA TIMUR': (-9.5018, 119.8256),
    'KALIMANTAN BARAT': (-0.0263, 109.3333),
    'KALIMANTAN TENGAH': (-1.6814878, 113.3823545),
    'KALIMANTAN SELATAN': (-3.092641, 114.603416),
    'KALIMANTAN TIMUR': (0.5247839, 116.9317887),
    'KALIMANTAN UTARA': (3.0166, 116.3319),
    'SULAWESI UTARA': (1.4538, 124.8917),
    'SULAWESI TENGAH': (-0.8375, 121.6255),
    'SULAWESI SELATAN': (-5.1476651, 119.4221),
    'SULAWESI TENGGARA': (-4.1434, 122.1746),
    'GORONTALO': (0.6371, 123.262),
    'SULAWESI BARAT': (-2.9521, 119.3793),
    'MALUKU': (-3.2385, 129.475),
    'MALUKU UTARA': (1.570999, 127.5101),
    'PAPUA': (-4.269928, 133.550003),
    'PAPUA BARAT': (-3.3333, 132.75),
    'PAPUA TENGAH': (-3.75, 137.0),
    'PAPUA PEGUNUNGAN': (-4.75, 140.0),
    'PAPUA SELATAN': (-6.75, 134.0),
    'PAPUA BARAT DAYA': (-0.875, 131.25),
    'NUSA TENGGARA BARAT (NTB)': (-8.652933, 116.5604),
    'BANGKA BELITUNG': (-2.7410513, 106.4405872),
    'KEPULAUAN BANGKA BELITUNG (BABEL)': (-2.7410513, 106.4405872)
}

# Tambahkan kolom Latitude dan Longitude berdasarkan Provinsi
df['Latitude'] = df['Provinsi'].map(lambda x: provinsi_koordinat.get(x, (None, None))[0])
df['Longitude'] = df['Provinsi'].map(lambda x: provinsi_koordinat.get(x, (None, None))[1])

In [112]:
df['Marketplace'] = 'Shopee'
df['Total Harga Produk'] = df['Total Harga Produk'].str.replace('Rp', '').str.replace('.', '')
df['Total Harga Produk'] = df['Total Harga Produk'].astype(float)
df['Total Harga Produk'] = df.apply(
    lambda row: row['Harga Setelah Diskon'] * row['Jumlah'] * 1000
    if pd.isnull(row['Total Harga Produk']) 
    else row ['Total Harga Produk'], axis=1)

In [113]:
df.to_excel("shopee.xlsx", index=False)

In [114]:
df2 = df.copy()

In [115]:
start_date = df2['Waktu Pesanan Dibuat'].min()
end_date = df2['Waktu Pesanan Dibuat'].max()
all_dates = pd.date_range(start=start_date, end=end_date, freq='D')

In [116]:
for i in all_dates:
    print(i)

2024-12-25 00:00:00
2024-12-26 00:00:00
2024-12-27 00:00:00
2024-12-28 00:00:00
2024-12-29 00:00:00
2024-12-30 00:00:00
2024-12-31 00:00:00
2025-01-01 00:00:00
2025-01-02 00:00:00
2025-01-03 00:00:00
2025-01-04 00:00:00
2025-01-05 00:00:00
2025-01-06 00:00:00
2025-01-07 00:00:00
2025-01-08 00:00:00
2025-01-09 00:00:00
2025-01-10 00:00:00
2025-01-11 00:00:00
2025-01-12 00:00:00
2025-01-13 00:00:00
2025-01-14 00:00:00
2025-01-15 00:00:00
2025-01-16 00:00:00
2025-01-17 00:00:00
2025-01-18 00:00:00
2025-01-19 00:00:00
2025-01-20 00:00:00
2025-01-21 00:00:00
2025-01-22 00:00:00
2025-01-23 00:00:00
2025-01-24 00:00:00
2025-01-25 00:00:00
2025-01-26 00:00:00
2025-01-27 00:00:00
2025-01-28 00:00:00
2025-01-29 00:00:00
2025-01-30 00:00:00
2025-01-31 00:00:00
2025-02-01 00:00:00
2025-02-02 00:00:00
2025-02-03 00:00:00
2025-02-04 00:00:00
2025-02-05 00:00:00
2025-02-06 00:00:00
2025-02-07 00:00:00
2025-02-08 00:00:00
2025-02-09 00:00:00
2025-02-10 00:00:00
2025-02-11 00:00:00
2025-02-12 00:00:00
2025-02-13 00:00:00
2025-02-14 00:00:00
2025-02-15 00:00:00
2025-02-16 00:00:00
2025-02-17 00:00:00
2025-02-18 00:00:00
2025-02-19 00:00:00
2025-02-20 00:00:00
2025-02-21 00:00:00
2025-02-22 00:00:00
2025-02-23 00:00:00
2025-02-24 00:00:00
2025-02-25 00:00:00
2025-02-26 00:00:00
2025-02-27 00:00:00

In [120]:
# Menentukan rentang tanggal dari dataset
date_range = pd.date_range(start=df["Waktu Pesanan Dibuat"].min(), 
                           end=df["Waktu Pesanan Dibuat"].max(), 
                           freq='D')

# Membuat DataFrame baru dengan rentang tanggal lengkap
full_dates_df = pd.DataFrame({"Waktu Pesanan Dibuat": date_range})

# Konversi kolom 'Waktu Pesanan Dibuat' di df menjadi datetime
df["Waktu Pesanan Dibuat"] = pd.to_datetime(df["Waktu Pesanan Dibuat"])

# Menggabungkan dengan dataset utama untuk memastikan setiap tanggal ada dalam data
df_full = full_dates_df.merge(df, on="Waktu Pesanan Dibuat", how="left")

# Mengisi nilai NaN dengan 0 untuk kolom jumlah produk yang terjual
df_full["Jumlah"] = df_full["Jumlah"].fillna(0)
df_full["Total Harga Produk"] = df_full["Total Harga Produk"].fillna(0)

In [122]:
df_full['Waktu Pesanan Dibuat'] = pd.to_datetime(df_full['Waktu Pesanan Dibuat']).dt.date

In [123]:
df_full.to_excel("shopee_full.xlsx", index=False)

In [ ]:
# Daftar varian parfum
varian_parfum = ["Ares", "Athena", "Apollo"]

# Membuat DataFrame dengan kombinasi semua tanggal dan varian parfum
full_dates_products = pd.MultiIndex.from_product(
    [df_full["Waktu Pesanan Dibuat"].unique(), varian_parfum], 
    names=["Waktu Pesanan Dibuat", "Nama Produk"]
).to_frame(index=False)

# Menggabungkan dengan dataset utama untuk memastikan setiap tanggal memiliki semua varian parfum
df_complete = full_dates_products.merge(df_full, on=["Waktu Pesanan Dibuat", "Nama Produk"], how="left")

# Mengisi nilai NaN dengan 0 untuk kolom jumlah produk yang terjual
fill_columns = ["Jumlah", "Total Harga Produk", "Total Diskon", "Diskon Dari Penjual", "Diskon Dari Shopee"]
df_complete[fill_columns] = df_complete[fill_columns].fillna(0)

In [128]:
# Mengisi nilai NaN dengan dummy values yang diberikan
dummy_values = {
    'Harga Awal': 0.0,
    'Harga Setelah Diskon': 0.0,
    'Jumlah': 0,
    'Total Harga Produk': 0.0,
    'Total Diskon': 0.0,
    'Diskon Dari Penjual': 0.0,
    'Diskon Dari Shopee': 0.0,
    'Jumlah Produk di Pesan': 0,
    'Voucher Ditanggung Penjual': 0.0,
    'Voucher Ditanggung Shopee': 0.0,
    'Username (Pembeli)': 'dummy_user',
    'Kota/Kabupaten': 'dummy_city',
    'Provinsi': 'dummy_province',
    'Latitude': 0.0,
    'Longitude': 0.0,
    'Marketplace': 'Shopee'
}

df_complete.fillna(dummy_values, inplace=True)

In [134]:
df_complete.rename(columns={
    'Total Harga Produk': 'Omset'
}, inplace=True)

In [129]:
df_complete.to_excel('shopee_full2.xlsx', index=False)

In [135]:
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Waktu Pesanan Dibuat        295 non-null    object
 1   Nama Produk                 295 non-null    object
 2   Harga Awal                  295 non-null    float64
 3   Harga Setelah Diskon        295 non-null    float64
 4   Jumlah                      295 non-null    float64
 5   Omset                       295 non-null    float64
 6   Total Diskon                295 non-null    float64
 7   Diskon Dari Penjual         295 non-null    float64
 8   Diskon Dari Shopee          295 non-null    float64
 9   Jumlah Produk di Pesan      295 non-null    float64
 10  Voucher Ditanggung Penjual  295 non-null    float64
 11  Voucher Ditanggung Shopee   295 non-null    float64
 12  Username (Pembeli)          295 non-null    object
 13  Kota/Kabupaten              295 non-null    object
 14  Provinsi                    295 non-null    object
 15  Latitude                    295 non-null    float64
 16  Longitude                   295 non-null    float64
 17  Marketplace                 295 non-null    object
dtypes: float64(12), object(6)
memory usage: 41.6+ KB