In [198]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [199]:
# xls = pd.ExcelFile('order1.xlsx')

In [200]:
df = pd.read_excel('merged_data.xlsx', index_col=0)

In [201]:
df.head()

,Status Pesanan,Alasan Pembatalan,Status Pembatalan/ Pengembalian,No. Resi,Opsi Pengiriman,Antar ke counter/ pick-up,Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan),Waktu Pengiriman Diatur,Waktu Pesanan Dibuat,Waktu Pembayaran Dilakukan,...,Perkiraan Ongkos Kirim,Catatan dari Pembeli,Catatan,Username (Pembeli),Nama Penerima,No. Telepon,Alamat Pengiriman,Kota/Kabupaten,Provinsi,Waktu Pesanan Selesai
No. Pesanan,,,,,,,,,,,,,,,,,,,,,
241225P3DQF79W,Batal,Dibatalkan oleh Pembeli. Alasan: Need to chang...,NaN,NaN,Reguler (Cashless)-SPX Standard,NaN,2025-01-13 00:14,NaN,2024-12-25 00:13,2024-12-25 00:14,...,9.0,NaN,NaN,kodileeeee,M****n,******08,Jl******,KOTA JAKARTA TIMUR,DKI JAKARTA,NaN
241225P5HMVBDD,Selesai,NaN,NaN,SD-2-0HY7CRH3H17LOQDX32L6,GrabExpress Sameday,Pickup,2025-01-13 00:51,2024-12-27 10:55,2024-12-25 00:51,2024-12-25 00:51,...,18.0,NaN,NaN,divemantis,V*****t,******68,"The Nest Apartment, Jalan Raden Saleh 1 VI, Ka...",KOTA TANGERANG,BANTEN,2024-12-30 06:57
241225P5HMVBDD,Selesai,NaN,NaN,SD-2-0HY7CRH3H17LOQDX32L6,GrabExpress Sameday,Pickup,2025-01-13 00:51,2024-12-27 10:55,2024-12-25 00:51,2024-12-25 00:51,...,18.0,NaN,NaN,divemantis,V*****t,******68,"The Nest Apartment, Jalan Raden Saleh 1 VI, Ka...",KOTA TANGERANG,BANTEN,2024-12-30 06:57
241225P5HMVBDD,Selesai,NaN,NaN,SD-2-0HY7CRH3H17LOQDX32L6,GrabExpress Sameday,Pickup,2025-01-13 00:51,2024-12-27 10:55,2024-12-25 00:51,2024-12-25 00:51,...,18.0,NaN,NaN,divemantis,V*****t,******68,"The Nest Apartment, Jalan Raden Saleh 1 VI, Ka...",KOTA TANGERANG,BANTEN,2024-12-30 06:57
241225P5WAQ6A5,Selesai,NaN,NaN,SPXID04880562839C,Reguler (Cashless)-SPX Standard,Antar ke Counter,2025-01-13 00:57,2024-12-27 15:10,2024-12-25 00:57,2024-12-25 00:57,...,9.0,NaN,NaN,khairulrizal012,R****l,******37,Jl******,KOTA JAKARTA BARAT,DKI JAKARTA,2024-12-28 16:04

In [202]:
df.tail()

,Status Pesanan,Alasan Pembatalan,Status Pembatalan/ Pengembalian,No. Resi,Opsi Pengiriman,Antar ke counter/ pick-up,Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan),Waktu Pengiriman Diatur,Waktu Pesanan Dibuat,Waktu Pembayaran Dilakukan,...,Perkiraan Ongkos Kirim,Catatan dari Pembeli,Catatan,Username (Pembeli),Nama Penerima,No. Telepon,Alamat Pengiriman,Kota/Kabupaten,Provinsi,Waktu Pesanan Selesai
No. Pesanan,,,,,,,,,,,,,,,,,,,,,
25022686ETSK0Y,Sedang Dikirim,NaN,NaN,NaN,Reguler (Cashless),Antar ke Counter,2025-02-27 23:59,2025-02-27 16:12,2025-02-26 22:10,2025-02-26 22:11,...,60.0,NaN,NaN,muhamadabibalwi,M******i,******42,"Kantor Telkom Malinau, Jalan Panembahan Kab, R...",KAB. MALINAU,KALIMANTAN UTARA,NaN
2502278D8KA2DU,Telah Dikirim,NaN,NaN,NaN,Same Day,Pickup,2025-02-27 23:59,2025-02-27 13:04,2025-02-27 00:12,2025-02-27 00:13,...,15.0,NaN,NaN,yyyourhoney,D******a,******01,"Kost Helloroom Gedung C, Jalan Bank III No. 1,...",KOTA JAKARTA SELATAN,DKI JAKARTA,NaN
2502279E0M6R43,Telah Dikirim,NaN,NaN,NaN,Reguler (Cashless),Antar ke Counter,2025-02-27 23:59,2025-02-27 15:55,2025-02-27 09:58,2025-02-27 09:58,...,9.0,NaN,NaN,tandik16,S******a,******18,"Jl. Salam Raya No.99 7, RT.9/RW.6, Sukabumi Ut...",KOTA JAKARTA BARAT,DKI JAKARTA,NaN
2502279E0M6R43,Telah Dikirim,NaN,NaN,NaN,Reguler (Cashless),Antar ke Counter,2025-02-27 23:59,2025-02-27 15:55,2025-02-27 09:58,2025-02-27 09:58,...,9.0,NaN,NaN,tandik16,S******a,******18,"Jl. Salam Raya No.99 7, RT.9/RW.6, Sukabumi Ut...",KOTA JAKARTA BARAT,DKI JAKARTA,NaN
2502279HXFM7SK,Telah Dikirim,NaN,NaN,NaN,Same Day,Pickup,2025-02-27 23:59,2025-02-27 13:30,2025-02-27 11:08,2025-02-27 11:09,...,17.5,NaN,NaN,middlekerb,B******o,******15,"Harapan Baru Regency, Jalan Soka Merah IV Blok...",KOTA BEKASI,JAWA BARAT,NaN

In [203]:
columns_tolist = df.columns.tolist()
columns_tolist

['Status Pesanan',
 'Alasan Pembatalan',
 'Status Pembatalan/ Pengembalian',
 'No. Resi',
 'Opsi Pengiriman',
 'Antar ke counter/ pick-up',
 'Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan)',
 'Waktu Pengiriman Diatur',
 'Waktu Pesanan Dibuat',
 'Waktu Pembayaran Dilakukan',
 'Metode Pembayaran',
 'SKU Induk',
 'Nama Produk',
 'Nomor Referensi SKU',
 'Nama Variasi',
 'Harga Awal',
 'Harga Setelah Diskon',
 'Jumlah',
 'Returned quantity',
 'Total Harga Produk',
 'Total Diskon',
 'Diskon Dari Penjual',
 'Diskon Dari Shopee',
 'Berat Produk',
 'Jumlah Produk di Pesan',
 'Total Berat',
 'Voucher Ditanggung Penjual',
 'Cashback Koin',
 'Voucher Ditanggung Shopee',
 'Paket Diskon',
 'Paket Diskon (Diskon dari Shopee)',
 'Paket Diskon (Diskon dari Penjual)',
 'Potongan Koin Shopee',
 'Diskon Kartu Kredit',
 'Ongkos Kirim Dibayar oleh Pembeli',
 'Estimasi Potongan Biaya Pengiriman',
 'Ongkos Kirim Pengembalian Barang',
 'Total Pembayaran',
 'Perkiraan Ongkos Kirim',
 'Catatan dari Pembeli',
 'Catatan',
 'Username (Pembeli)',
 'Nama Penerima',
 'No. Telepon',
 'Alamat Pengiriman',
 'Kota/Kabupaten',
 'Provinsi',
 'Waktu Pesanan Selesai']

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 241225P3DQF79W to 2502279HXFM7SK
Data columns (total 48 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Status Pesanan                                                250 non-null    object
 1   Alasan Pembatalan                                             31 non-null     object
 2   Status Pembatalan/ Pengembalian                               1 non-null      object
 3   No. Resi                                                      214 non-null    object
 4   Opsi Pengiriman                                               250 non-null    object
 5   Antar ke counter/ pick-up                                     224 non-null    object
 6   Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan)  233 non-null    object
 7   Waktu Pengiriman Diatur                                       219 non-null    object
 8   Waktu Pesanan Dibuat                                          250 non-null    object
 9   Waktu Pembayaran Dilakukan                                    250 non-null    object
 10  Metode Pembayaran                                             250 non-null    object
 11  SKU Induk                                                     0 non-null      float64
 12  Nama Produk                                                   250 non-null    object
 13  Nomor Referensi SKU                                           0 non-null      float64
 14  Nama Variasi                                                  0 non-null      float64
 15  Harga Awal                                                    250 non-null    float64
 16  Harga Setelah Diskon                                          250 non-null    float64
 17  Jumlah                                                        250 non-null    int64
 18  Returned quantity                                             250 non-null    int64
 19  Total Harga Produk                                            250 non-null    object
 20  Total Diskon                                                  250 non-null    float64
 21  Diskon Dari Penjual                                           250 non-null    float64
 22  Diskon Dari Shopee                                            250 non-null    int64
 23  Berat Produk                                                  250 non-null    object
 24  Jumlah Produk di Pesan                                        250 non-null    int64
 25  Total Berat                                                   250 non-null    object
 26  Voucher Ditanggung Penjual                                    250 non-null    int64
 27  Cashback Koin                                                 250 non-null    int64
 28  Voucher Ditanggung Shopee                                     250 non-null    float64
 29  Paket Diskon                                                  250 non-null    object
 30  Paket Diskon (Diskon dari Shopee)                             250 non-null    int64
 31  Paket Diskon (Diskon dari Penjual)                            250 non-null    int64
 32  Potongan Koin Shopee                                          250 non-null    int64
 33  Diskon Kartu Kredit                                           250 non-null    int64
 34  Ongkos Kirim Dibayar oleh Pembeli                             250 non-null    float64
 35  Estimasi Potongan Biaya Pengiriman                            250 non-null    float64
 36  Ongkos Kirim Pengembalian Barang                              250 non-null    int64
 37  Total Pembayaran                                              250 non-null    object
 38  Perkiraan Ongkos Kirim                                        250 non-null    float64
 39  Catatan dari Pembeli                                          7 non-null      object
 40  Catatan                                                       0 non-null      float64
 41  Username (Pembeli)                                            250 non-null    object
 42  Nama Penerima                                                 250 non-null    object
 43  No. Telepon                                                   250 non-null    object
 44  Alamat Pengiriman                                             250 non-null    object
 45  Kota/Kabupaten                                                250 non-null    object
 46  Provinsi                                                      250 non-null    object
 47  Waktu Pesanan Selesai                                         208 non-null    object
dtypes: float64(12), int64(11), object(25)
memory usage: 95.7+ KB

In [205]:
# Drop kolom yang tidak diperlukan langsung pada df tanpa variabel baru
df.drop(columns=[
    # 'Status Pesanan',
    'Alasan Pembatalan',
    'Status Pembatalan/ Pengembalian',
    'No. Resi',
    'Opsi Pengiriman',
    'Antar ke counter/ pick-up',
    'Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan)',
    'Waktu Pengiriman Diatur',
    'Waktu Pembayaran Dilakukan',
    'Metode Pembayaran',
    'SKU Induk',
    'Nomor Referensi SKU',
    'Nama Variasi',
    'Returned quantity',
    'Berat Produk',
    'Total Berat',
    'Cashback Koin',
    'Paket Diskon',
    'Paket Diskon (Diskon dari Shopee)',
    'Paket Diskon (Diskon dari Penjual)',
    'Potongan Koin Shopee',
    'Diskon Kartu Kredit',
    'Ongkos Kirim Dibayar oleh Pembeli',
    'Estimasi Potongan Biaya Pengiriman',
    'Ongkos Kirim Pengembalian Barang',
    'Total Pembayaran',
    'Perkiraan Ongkos Kirim',
    'Catatan dari Pembeli',
    'Catatan',
    'Nama Penerima',
    'No. Telepon',
    'Alamat Pengiriman',
    'Waktu Pesanan Selesai'
], inplace=True)

# Tampilkan informasi dataframe setelah penghapusan kolom
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 241225P3DQF79W to 2502279HXFM7SK
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Status Pesanan              250 non-null    object
 1   Waktu Pesanan Dibuat        250 non-null    object
 2   Nama Produk                 250 non-null    object
 3   Harga Awal                  250 non-null    float64
 4   Harga Setelah Diskon        250 non-null    float64
 5   Jumlah                      250 non-null    int64
 6   Total Harga Produk          250 non-null    object
 7   Total Diskon                250 non-null    float64
 8   Diskon Dari Penjual         250 non-null    float64
 9   Diskon Dari Shopee          250 non-null    int64
 10  Jumlah Produk di Pesan      250 non-null    int64
 11  Voucher Ditanggung Penjual  250 non-null    int64
 12  Voucher Ditanggung Shopee   250 non-null    float64
 13  Username (Pembeli)          250 non-null    object
 14  Kota/Kabupaten              250 non-null    object
 15  Provinsi                    250 non-null    object
dtypes: float64(5), int64(4), object(7)
memory usage: 33.2+ KB

In [206]:
df.shape

(250, 16)

In [207]:
df = df[df['Status Pesanan'] != 'Batal']

In [208]:
df.shape

(219, 16)

In [209]:
df.head()

,Status Pesanan,Waktu Pesanan Dibuat,Nama Produk,Harga Awal,Harga Setelah Diskon,Jumlah,Total Harga Produk,Total Diskon,Diskon Dari Penjual,Diskon Dari Shopee,Jumlah Produk di Pesan,Voucher Ditanggung Penjual,Voucher Ditanggung Shopee,Username (Pembeli),Kota/Kabupaten,Provinsi
No. Pesanan,,,,,,,,,,,,,,,,
241225P5HMVBDD,Selesai,2024-12-25 00:51,[PRE-ORDER] GOOS Ares Eau De Perfume 30ML,198.0,188.0,1,188.000,10.0,10.0,0,3,0,84.6,divemantis,KOTA TANGERANG,BANTEN
241225P5HMVBDD,Selesai,2024-12-25 00:51,[PRE-ORDER] GOOS Athena Eau De Perfume 30ML,198.0,188.0,1,188.000,10.0,10.0,0,3,0,84.6,divemantis,KOTA TANGERANG,BANTEN
241225P5HMVBDD,Selesai,2024-12-25 00:51,[PRE-ORDER] GOOS Apollo Eau De Perfume 30ML,198.0,188.0,1,188.000,10.0,10.0,0,3,0,84.6,divemantis,KOTA TANGERANG,BANTEN
241225P5WAQ6A5,Selesai,2024-12-25 00:57,[PRE-ORDER] GOOS Apollo Eau De Perfume 30ML,198.0,188.0,1,188.000,10.0,10.0,0,1,0,28.2,khairulrizal012,KOTA JAKARTA BARAT,DKI JAKARTA
241225PAMJKABU,Selesai,2024-12-25 02:22,[PRE-ORDER] GOOS Athena Eau De Perfume 30ML,198.0,188.0,1,188.000,10.0,10.0,0,1,0,28.2,aldibrozol,KOTA JAKARTA UTARA,DKI JAKARTA

In [210]:
df = df.drop(columns=['Status Pesanan'])

In [211]:
df.shape

(219, 15)

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219 entries, 241225P5HMVBDD to 2502279HXFM7SK
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Waktu Pesanan Dibuat        219 non-null    object
 1   Nama Produk                 219 non-null    object
 2   Harga Awal                  219 non-null    float64
 3   Harga Setelah Diskon        219 non-null    float64
 4   Jumlah                      219 non-null    int64
 5   Total Harga Produk          219 non-null    object
 6   Total Diskon                219 non-null    float64
 7   Diskon Dari Penjual         219 non-null    float64
 8   Diskon Dari Shopee          219 non-null    int64
 9   Jumlah Produk di Pesan      219 non-null    int64
 10  Voucher Ditanggung Penjual  219 non-null    int64
 11  Voucher Ditanggung Shopee   219 non-null    float64
 12  Username (Pembeli)          219 non-null    object
 13  Kota/Kabupaten              219 non-null    object
 14  Provinsi                    219 non-null    object
dtypes: float64(5), int64(4), object(6)
memory usage: 27.4+ KB

In [213]:
# Konversi kolom 'Waktu Pesanan Dibuat' menjadi format datetime
df['Waktu Pesanan Dibuat'] = pd.to_datetime(df['Waktu Pesanan Dibuat']).dt.date

# Tampilkan informasi dataframe setelah perubahan tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219 entries, 241225P5HMVBDD to 2502279HXFM7SK
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Waktu Pesanan Dibuat        219 non-null    object
 1   Nama Produk                 219 non-null    object
 2   Harga Awal                  219 non-null    float64
 3   Harga Setelah Diskon        219 non-null    float64
 4   Jumlah                      219 non-null    int64
 5   Total Harga Produk          219 non-null    object
 6   Total Diskon                219 non-null    float64
 7   Diskon Dari Penjual         219 non-null    float64
 8   Diskon Dari Shopee          219 non-null    int64
 9   Jumlah Produk di Pesan      219 non-null    int64
 10  Voucher Ditanggung Penjual  219 non-null    int64
 11  Voucher Ditanggung Shopee   219 non-null    float64
 12  Username (Pembeli)          219 non-null    object
 13  Kota/Kabupaten              219 non-null    object
 14  Provinsi                    219 non-null    object
dtypes: float64(5), int64(4), object(6)
memory usage: 27.4+ KB

In [214]:
df.head

<bound method NDFrame.head of                Waktu Pesanan Dibuat  \
No. Pesanan
241225P5HMVBDD           2024-12-25
241225P5HMVBDD           2024-12-25
241225P5HMVBDD           2024-12-25
241225P5WAQ6A5           2024-12-25
241225PAMJKABU           2024-12-25
...                             ...
25022686ETSK0Y           2025-02-26
2502278D8KA2DU           2025-02-27
2502279E0M6R43           2025-02-27
2502279E0M6R43           2025-02-27
2502279HXFM7SK           2025-02-27

                                                Nama Produk  Harga Awal  \
No. Pesanan
241225P5HMVBDD    [PRE-ORDER] GOOS Ares Eau De Perfume 30ML       198.0
241225P5HMVBDD  [PRE-ORDER] GOOS Athena Eau De Perfume 30ML       198.0
241225P5HMVBDD  [PRE-ORDER] GOOS Apollo Eau De Perfume 30ML       198.0
241225P5WAQ6A5  [PRE-ORDER] GOOS Apollo Eau De Perfume 30ML       198.0
241225PAMJKABU  [PRE-ORDER] GOOS Athena Eau De Perfume 30ML       198.0
...                                                     ...         ...
25022686ETSK0Y               GOOS Apollo Eau De Parfum 30ML       218.8
2502278D8KA2DU               GOOS Apollo Eau De Parfum 30ML       218.8
2502279E0M6R43                 GOOS Ares Eau De Parfum 30ML       218.8
2502279E0M6R43               GOOS Athena Eau De Parfum 30ML       218.8
2502279HXFM7SK                 GOOS Ares Eau De Parfum 30ML       218.8

                Harga Setelah Diskon  Jumlah Total Harga Produk  Total Diskon  \
No. Pesanan
241225P5HMVBDD                 188.0       1            188.000          10.0
241225P5HMVBDD                 188.0       1            188.000          10.0
241225P5HMVBDD                 188.0       1            188.000          10.0
241225P5WAQ6A5                 188.0       1            188.000          10.0
241225PAMJKABU                 188.0       1            188.000          10.0
...                              ...     ...                ...           ...
25022686ETSK0Y                 178.8       1              178.8          40.0
2502278D8KA2DU                 178.8       1              178.8          40.0
2502279E0M6R43                 178.8       1              178.8          40.0
2502279E0M6R43                 178.8       1              178.8          40.0
2502279HXFM7SK                 178.8       1              178.8          40.0

                Diskon Dari Penjual  Diskon Dari Shopee  \
No. Pesanan
241225P5HMVBDD                 10.0                   0
241225P5HMVBDD                 10.0                   0
241225P5HMVBDD                 10.0                   0
241225P5WAQ6A5                 10.0                   0
241225PAMJKABU                 10.0                   0
...                             ...                 ...
25022686ETSK0Y                 40.0                   0
2502278D8KA2DU                 40.0                   0
2502279E0M6R43                 40.0                   0
2502279E0M6R43                 40.0                   0
2502279HXFM7SK                 40.0                   0

                Jumlah Produk di Pesan  Voucher Ditanggung Penjual  \
No. Pesanan
241225P5HMVBDD                       3                           0
241225P5HMVBDD                       3                           0
241225P5HMVBDD                       3                           0
241225P5WAQ6A5                       1                           0
241225PAMJKABU                       1                           0
...                                ...                         ...
25022686ETSK0Y                       2                           0
2502278D8KA2DU                       1                           0
2502279E0M6R43                       2                           0
2502279E0M6R43                       2                           0
2502279HXFM7SK                       1                           0

                Voucher Ditanggung Shopee Username (Pembeli)  \
No. Pesanan
241225P5HMVBDD                       84.6         divemantis
241225P5HMVBDD                       84.6         divemantis
241225P5HMVBDD                       84.6         divemantis
241225P5WAQ6A5                       28.2    khairulrizal012
241225PAMJKABU                       28.2         aldibrozol
...                                   ...                ...
25022686ETSK0Y                        0.0    muhamadabibalwi
2502278D8KA2DU                        0.0        yyyourhoney
2502279E0M6R43                        0.0           tandik16
2502279E0M6R43                        0.0           tandik16
2502279HXFM7SK                        0.0         middlekerb

                      Kota/Kabupaten          Provinsi
No. Pesanan
241225P5HMVBDD        KOTA TANGERANG            BANTEN
241225P5HMVBDD        KOTA TANGERANG            BANTEN
241225P5HMVBDD        KOTA TANGERANG            BANTEN
241225P5WAQ6A5    KOTA JAKARTA BARAT       DKI JAKARTA
241225PAMJKABU    KOTA JAKARTA UTARA       DKI JAKARTA
...                              ...               ...
25022686ETSK0Y          KAB. MALINAU  KALIMANTAN UTARA
2502278D8KA2DU  KOTA JAKARTA SELATAN       DKI JAKARTA
2502279E0M6R43    KOTA JAKARTA BARAT       DKI JAKARTA
2502279E0M6R43    KOTA JAKARTA BARAT       DKI JAKARTA
2502279HXFM7SK           KOTA BEKASI        JAWA BARAT

[219 rows x 15 columns]>

In [215]:
import re

In [216]:
def extract_variant(product_name):
    match = re.search(r'\b(Ares|Apollo|Athena)\b', product_name, re.IGNORECASE)
    return match.group(0) if match else None

# Terapkan fungsi ke kolom 'Nama Produk'
df['Nama Produk'] = df['Nama Produk'].apply(extract_variant)

In [217]:
# Dictionary referensi koordinat provinsi di Indonesia
provinsi_koordinat = {
    'ACEH': (4.36855, 97.0253),
    'SUMATERA UTARA': (2.1153547, 99.5450974),
    'SUMATERA BARAT': (-0.7399397, 100.8000051),
    'RIAU': (0.2933466, 101.7068294),
    'JAMBI': (-1.6101232, 103.6131203),
    'SUMATERA SELATAN': (-3.0977119, 104.9142684),
    'BENGKULU': (-3.57785, 102.2655),
    'LAMPUNG': (-4.5585849, 105.4068),
    'KEPULAUAN BANGKA BELITUNG': (-2.7410513, 106.4405872),
    'KEPULAUAN RIAU': (3.9456514, 108.1428669),
    'DKI JAKARTA': (-6.2088, 106.8456),
    'JAWA BARAT': (-6.9248, 107.6071),
    'JAWA TENGAH': (-7.150975, 110.3499255),
    'DI YOGYAKARTA': (-7.797068, 110.3705293),
    'JAWA TIMUR': (-7.24917, 112.75083),
    'BANTEN': (-6.1202, 106.1505),
    'BALI': (-8.3405, 115.092),
    'NUSA TENGGARA BARAT': (-8.652933, 116.5604),
    'NUSA TENGGARA TIMUR': (-9.5018, 119.8256),
    'KALIMANTAN BARAT': (-0.0263, 109.3333),
    'KALIMANTAN TENGAH': (-1.6814878, 113.3823545),
    'KALIMANTAN SELATAN': (-3.092641, 114.603416),
    'KALIMANTAN TIMUR': (0.5247839, 116.9317887),
    'KALIMANTAN UTARA': (3.0166, 116.3319),
    'SULAWESI UTARA': (1.4538, 124.8917),
    'SULAWESI TENGAH': (-0.8375, 121.6255),
    'SULAWESI SELATAN': (-5.1476651, 119.4221),
    'SULAWESI TENGGARA': (-4.1434, 122.1746),
    'GORONTALO': (0.6371, 123.262),
    'SULAWESI BARAT': (-2.9521, 119.3793),
    'MALUKU': (-3.2385, 129.475),
    'MALUKU UTARA': (1.570999, 127.5101),
    'PAPUA': (-4.269928, 133.550003),
    'PAPUA BARAT': (-3.3333, 132.75),
    'PAPUA TENGAH': (-3.75, 137.0),
    'PAPUA PEGUNUNGAN': (-4.75, 140.0),
    'PAPUA SELATAN': (-6.75, 134.0),
    'PAPUA BARAT DAYA': (-0.875, 131.25)
}

# Tambahkan kolom Latitude dan Longitude berdasarkan Provinsi
df['Latitude'] = df['Provinsi'].map(lambda x: provinsi_koordinat.get(x, (None, None))[0])
df['Longitude'] = df['Provinsi'].map(lambda x: provinsi_koordinat.get(x, (None, None))[1])

In [218]:
df.head()

,Waktu Pesanan Dibuat,Nama Produk,Harga Awal,Harga Setelah Diskon,Jumlah,Total Harga Produk,Total Diskon,Diskon Dari Penjual,Diskon Dari Shopee,Jumlah Produk di Pesan,Voucher Ditanggung Penjual,Voucher Ditanggung Shopee,Username (Pembeli),Kota/Kabupaten,Provinsi,Latitude,Longitude
No. Pesanan,,,,,,,,,,,,,,,,,
241225P5HMVBDD,2024-12-25,Ares,198.0,188.0,1,188.000,10.0,10.0,0,3,0,84.6,divemantis,KOTA TANGERANG,BANTEN,-6.1202,106.1505
241225P5HMVBDD,2024-12-25,Athena,198.0,188.0,1,188.000,10.0,10.0,0,3,0,84.6,divemantis,KOTA TANGERANG,BANTEN,-6.1202,106.1505
241225P5HMVBDD,2024-12-25,Apollo,198.0,188.0,1,188.000,10.0,10.0,0,3,0,84.6,divemantis,KOTA TANGERANG,BANTEN,-6.1202,106.1505
241225P5WAQ6A5,2024-12-25,Apollo,198.0,188.0,1,188.000,10.0,10.0,0,1,0,28.2,khairulrizal012,KOTA JAKARTA BARAT,DKI JAKARTA,-6.2088,106.8456
241225PAMJKABU,2024-12-25,Athena,198.0,188.0,1,188.000,10.0,10.0,0,1,0,28.2,aldibrozol,KOTA JAKARTA UTARA,DKI JAKARTA,-6.2088,106.8456

In [219]:
df.to_excel("merged_data_cleaned2.xlsx", index=False)