In [5]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_excel('tiktok.xlsx')
df = df.dropna(axis=1, how='any')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Order ID  60 non-null     object
dtypes: object(1)
memory usage: 612.0+ bytes

In [16]:
df.head(10)

                    Order ID
0  Platform unique order ID.
1         578098442592814186
2         578085963720066676
3         578073150487103253
4         578073150487103253
5         578051257053054391
6         578046459505706384
7         578027124301924096
8         578027130461849344
9         578026239409162207

In [17]:
df.tail()

              Order ID
55  577793204498695274
56  577793204498695274
57  577793204498695274
58  577712888196204213
59  577709019547337964